@use '../../../../../styles/variables' as v;
@use '../../../../../styles/mixins' as m;
:host {
  display: block;
}
.projects {
  display: grid;
  gap: v.$space-6;
  margin-top: v.$space-12;
}
@include m.min-width(v.$breakpoint-desktop) {
  .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  app-project-card.featured {
    grid-column: 1 / -1;
  }
}
